.header {
    background-color: black;

    &__wrapper {
        max-width: 1160px;
        margin: 0 auto;
        padding: 0 20px;
        
        @media (min-width: 1024px) {
            padding: 0;
        }
    }

    &__nav {
        display: flex;
        align-items: center;
        padding: 20px 0;
    }

    &__logo {
        display: flex;
        align-items: center;
    }
}
