.fiftyFifty {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 22px 0;

  @media (min-width: 787px) {
    margin: 72px 0;
  }

  &__wrapper {
    max-width: 953px;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;

    @media (min-width: 1024px) {
      padding: 0;
    }
  }

  &__container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;

    @media (min-width: 787px) {
      flex-direction: row;
    }
  }

  &__inverted {
    flex-direction: column;

    @media (min-width: 787px) {
      flex-direction: row-reverse;
    }
    .fiftyFifty__right {
      @media (min-width: 787px) {
        width: 560px;
        min-width: 560px;
      }
    }  
    .fiftyFifty__left {
      @media (min-width: 787px) {
        display: flex;
        justify-content: flex-end;
      }
    }
  }

  &__left {
    width: 100%;
    height: 100%;
  }

  &__right {
    width: 100%;
    height: 100%;

    @media (min-width: 787px) {
      width: 566px;
      min-width: 566px;
    }

  }
  &__content {
    padding: 20px;
    text-align: center;
  }
  
  &__title {
    font-size: 31px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  &__description {
    font-size: 16px;
    color: #7A7A7A;

    p {
      margin-bottom: 20px;
    }
  }
}
